:root {
    --background-color: #5A93BF;
    --text-color: #171718;
    --light-orange: #E0B354;
    --gray-blue: #CDD0D1;
    --header-footer-color: #AEC7DA;
    --nav-button: #57a8e6;
    --dropdown-background: #F9F9F9;
    --backup-color-one: #277EC1;
    --backup-color-two: #0370C4;
    --big-padding: 100px;
    --medium-padding: 50px;
    --small-padding: 10px;
    --button-radius: 3px;
    --default-font-weight: 600;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Poppins', Helvetica;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: var(--header-footer-color);
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.website-logo {
    padding-left: var(--medium-padding);
    height: 80px;
    width: auto;
}

.page-header__item:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
    padding-right: var(--medium-padding);
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
    padding-right: var(--medium-padding);
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li, .mobile-dropdown__button {
    display: inline-block;
    margin-left: 15px;
    padding: var(--small-padding);
    background-color: var(--nav-button);
    border-radius: var(--button-radius);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.navigation-list li:hover, .mobile-dropdown__button:hover {
    background-color: var(--light-orange);
}

.navigation-list__item--active {
    text-decoration: none;
}

@media all and (max-width: 1000px){
    .main-navigation {
        display: none;
    }
}

@media all and (min-width: 1000px){
    .mobile-navigation {
        display: none;
    }
}

.mobile-navigation {
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 50px;
    background-color: var(--dropdown-background);
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
 
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--light-orange);
}

.mobile-navigation:hover .dropdown-content {
    display: block;
}

.page-footer {
    text-align: center;
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: var(--header-footer-color);
}

.work-page__section {
    padding-bottom: var(--big-padding);
}

.profile, .main__content {
    padding-top: 150px;
    max-width: 850px;
    margin: auto;
    padding-bottom: var(--big-padding);
}

.main__content {
    padding-top: initial;
    text-align: center;
}

.profile__portrait {
    float: left;
    max-width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

h1 {
    color: var(--text-color);
    font-weight: var(--default-font-weight);
    font-size: 32px;
}

h2 {
    color: var(--text-color);
    font-weight: var(--default-font-weight);
    font-size: 28px;
}

h3 {
    color: var(--text-color);
    font-weight: var(--default-font-weight);
    font-size: 24px;
}

a {
    color: var(--text-color);
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

a:visited {
    color: black;
}

a:hover, a:focus {
    color: white;
    text-decoration: none;
}

a:active {
    color: var(--light-orange);
    text-decoration: none;
}

.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--light-orange);
    color: var(--text-color);
    text-decoration: none;
    padding: var(--small-padding);
    border-radius: var(--button-radius);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity, color 0.2s;
    -o-transition: opacity, color 0.2s;
    transition: opacity, color 0.2s;
}

button:hover, button:focus, .button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8;
    color: white;
}

.button__secondary {
    background-color: var(--gray-blue);
    color: var(--text-color);
}

table {
    display: table;
    border-spacing: 10px;
    text-align: center;
    margin: auto;
}

table, th {
    border: 1px solid black;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0px 20px;
}

.grid__item:hover {
    background-color: var(--light-orange);
}

.grid__item {
    display: inline-block;
    padding: 0px 30px;
    padding-bottom: 30px;
    background-color: white;
    width: auto;
}

.grid__item:nth-child(3) {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
}

.grid__item:nth-child(2) {
    -ms-grid-column: 2;
    grid-column: 2 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
}

@media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 750px) and (max-width: 1000px){
    .grid {
      -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (max-width: 1000px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:nth-child(3) {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    
    .grid__item:nth-child(2) {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
      font-size: 22px;
    }
}

@-webkit-keyframes color-change {
    0% {
        fill: #edc655;
    }
    20% {
        fill: #fcffad;
    }
    40% {
        fill: #f76414;
    }
    100% {
        fill: #f76414;
    }
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }
    20% {
        fill: #fcffad;
    }
    40% {
        fill: #f76414;
    }
    100% {
        fill: #f76414;
    }
}

@-webkit-keyframes sunset-move {
    0% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    20% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0)
    }
    100% {
        -webkit-transform: translate(0, 600px);
                transform: translate(0, 600px);
    }
}

@keyframes sunset-move {
    0% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    20% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0)
    }
    100% {
        -webkit-transform: translate(0, 600px);
                transform: translate(0, 600px);
    }
}

@-webkit-keyframes enlarge {
    from {
        /*just a comment to fill out this line*/
    }
    to {
        -webkit-transform: scale(2, 2);
                transform: scale(2, 2);
    }
}

@keyframes enlarge {
    from {
        /*just a comment to fill out this line*/
    }
    to {
        -webkit-transform: scale(2, 2);
                transform: scale(2, 2);
    }
}

.sun {
    -webkit-animation: color-change 10s infinite alternate linear, sunset-move 10s infinite alternate linear;
            animation: color-change 10s infinite alternate linear, sunset-move 10s infinite alternate linear;
}

.sun-ring {
    -webkit-animation: sunset-move 10s infinite alternate linear;
            animation: sunset-move 10s infinite alternate linear;
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}

.cloud-front {
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
}

@-webkit-keyframes day-change {
    0% {
      background-color: #ffffff;
    }
    50% {
      background-color: #886d44;
    }
    100% {
      background-color: #20140d;
    }
}

@keyframes day-change {
    0% {
      background-color: #ffffff;
    }
    50% {
      background-color: #886d44;
    }
    100% {
      background-color: #20140d;
    }
}

.berlin-illustration {
    -webkit-animation: 10s day-change infinite alternate linear;
            animation: 10s day-change infinite alternate linear;
}

.textarea-box {
    width: 300px;
    height: 150px;
    resize: none;
}

.contact-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.contact-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}